# Node.js
/node_modules/

# Python Virtual Environments
/.venv/
/venv/
/env/
/.venv/

# Docker related files
**/docker-compose.override.yml
**/Dockerfile
**/docker-compose.yml
**/.docker/

# Kubernetes related files
**/.kube/

# macOS system files
.DS_Store

# IDE files
.idea/
/.vscode/

# Logs
*.log
